:root{
    --primary: #256edb;
    --primary-10: #2f23b1;

    --secondary: #06628a;
    --secondary-10: #06374e;

    --white: #fff;

    --black: #10101a;
    --black-10: #2a2a30;

    --grey: #9b9ba0;

}

