<header>
  <img
    src="assets/img/felipe.jpg"
    alt="Felipe Fogaça - Foto de Perfil"
    width="130"
    height="130"
    loading="eager"
  />
  <h1>Felipe Fogaça</h1>
</header>

<aside>
  <div class="container">
    <p>Html5 | Css3 | JavaScript | Angular | NodeJs</p>
    <p>Sorocaba, São Paulo, Brasil</p>
    <p>
    Estou iniciando minha jornada na área de desenvolvimento de software. Concluí meus estudos em Angular e sigo expandindo minhas habilidades para criar aplicações web modernas, dinâmicas e responsivas.
    </p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/CVf.pdf " target="_blank" class="btn btn-primary"> Download Cv </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/felipe-foga%C3%A7a-a41550239"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Icone para contato do Whatsapp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5515991959687&text=Ol%C3%A1%20Felipe!"
            target="_blank"
          >
            <strong>Envie uma mensagem para:</strong>
            <p>Whatsapp: (15) 9 99195-9687</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Icone para contato do e-mail"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:fe.fogaca83@gmail.com" target="_blank">
            <strong>Envie um e-mail para:</strong>
            <p>fe.fogaca83@gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
